%form#menu_add{action: "create_menu", method: "post", name: "menu_add"}
  #menu
    %p
      %span 主菜单一名称：
      %input{type: "text", value: "", name: "main_menu_1"}
      %span 主菜单一关键字：
      %input{type: "text", value: ""}
      %span 主菜单一连接：
      %input{type: "text", value: ""}
      %span 子菜单一：
      = succeed "30" do
        %textarea{name: "sub_menu_1"}
      
    %p
      %span 主菜单二名称：
      %input{type: "text", value: "", name:"main_menu_2"}/
      
      %span 主菜单二关键字：
      %input{type: "text", value: ""}/
      
      %span 主菜单二连接：
      %input{type: "text", value: ""}/
      
      %span 子菜单二：
      = succeed "30" do
        %textarea{name: "sub_menu_2"}
      
    %p
      %span 主菜单三名称：
      %input{type: "text", value: "", name:"main_menu_3"}/
      
      %span 主菜单三关键字：
      %input{type: "text", value: ""}/
      
      %span 主菜单三连接：
      %input{type: "text", value: ""}/
      
      %span 子菜单三：
      = succeed "30" do
        %textarea{name: "sub_menu_3"}
      
    %p
      %input{name: "action", type: "hidden", value: "update"}
        %input{type: "submit", value: "生成菜单"}/



